<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Express
  body
  block content
    table.table
      thead
        tr 
          th(scope='col') #
          th(scope='col') Nombre
          th(scope='col') Edad
      tbody
        each gimnasta in gimnastas
          tr
            td(scope='row')= gimnasta.id
            td=gimnasta.nombre
            td=gimnasta.edad

